body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Comic;
    font-size: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background: url("../images/hypnotize.png");
    color: blue;
    overflow: none;  
}

h1 {
    font-size: 30px;
    padding: 10px;
}

h2, {
    margin: 10px;
}

.container {
    width: 100%;
    clear: none;
}

.main-header {
    text-align: center;
    color: white;
    width: 20%;
    height: 50px;
    margin-left: 40%;
    margin-bottom: 20px;
    background: lightcoral;

} 
.instructions {
    width: 40%;
    height: 300px;
    background: lightseagreen;
    padding-top: 15px;
    margin-left: 30%;
    margin-bottom: 15px; 
    font-size: 18px;   
    text-align: center; 
    position: relative;
}

.computerNumber {
    width: 200px;
    height: 75px;
    margin-left: 30%;
    float: left;
    text-align: center;
    padding-top: 20px;
    background: lightskyblue;
    
}

.crystal-image {
    width: 100px;
    height: 100px;
    padding-right: 30px;
}

.scoreboard {
    float: left;
    width: 150px;
    height: 75px;
    padding-top: 20px;
    padding-left: 10px;
    margin-left: 150px;
    background: lightsalmon;
    clear: none;
}

.imageSelection {
    float: left;
    margin-left: 30%;
    margin-right: 20%;

}
.usersPick {
    float: left;
    width: 500px;
    height: 75px;
    margin-left: 30%;
    padding-top: 20px;
    background: gray;
    text-align: center;
}

@media screen and (max-width: 375px) {

.container {
    min-width: 80%;
    clear: none;
    
}

.main-header {
    
    width: 80%;
    height: 40px;
    margin-bottom: 5px;
    /* margin-right: 40px; */
    margin-left: 40px;

}

.instructions {
    width: 80%;
    height: 30%;
    margin-left: 40px;
    font-size: 10px;
    margin-bottom: 5px;
}

.computerNumber {
    width: 40%;
    height: 15%;
    font-size: 12px;
    /* margin-right: 100px; */
    margin-left: 40px;
    padding-top: 14px;
    padding-bottom: 6px;
    float: left;
}

.scoreboard {
    margin-right: 0px;
    margin-left: 10px;
    width: 30%;
    height: 10%;
    font-size: 12px;
    padding: 15px;
    float: left;
    
}

.imageSelection {
    /* float: left; */
    margin-left: 80px;
    margin-right: 20%;

}

.crystal-image {
    width: 50px;
    height: 50px;
    padding-right: 0px;

}

.usersPick {
    width: 80%;
    height: 40px;
    margin-right: 0px;
    margin-left: 40px;
    font-size: 14px;
    text-align: center;
    
}
    